# --- Results ----------------------------------------------------------------
results/figures/
results/tables/
data/

# --- R ----------------------------------------------------------------

.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj.user
.Renviron
.Rprofile.local
.Rbuildignore

# --- OS ---------------------------------------------------------------
.DS_Store
.DS_Store?
